{
    "module": {
        "type": "es6",
        "strict": true,
        "strictMode": true,
        "lazy": false,
        "noInterop": false
    },
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "decorators": false,
            "dynamicImport": false,
            "importMeta": false,
            "topLevelAwait": true
        },
        "target": "es2018",
        "minify": {
            "compress": {
                "unused": true
            },
            "mangle": true
        }
    }
}