.sticky-table {
    border-collapse: separate;
}

.stick-thead {
    position: sticky;
    top: 0;
    background-color: var(--bulma-table-background-color) !important;
    z-index: +1;
}

.filter-container {
    width: 100%;
}

.filter-select {
    height: 15rem !important;
    width: 100%;
}

.amount-cell {
    text-align: right !important;
}