.sticky-table {
    border-collapse: separate;
}

.stick-thead {
    position: sticky;
    top: 0;
    background-color: var(--bulma-table-background-color) !important;
}

.amount-cell {
    text-align: right !important;
}