.sticky-table {
    border-collapse: separate;
}

.stick-thead {
    position: sticky;
    top: 0;
    background-color: var(--bulma-table-background-color) !important;
    z-index: +1;
}

.sort-header {
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.column-sorter {
    display: inline-block;
    padding-left: 0.25rem;
    color: var(--bulma-text-weak);
}

.sort-arrow {
    line-height: 0.6rem;
    height: 0.6rem;
    font-size: 0.6rem;
}

.selected-arrow {
    color: var(--bulma-primary);
}

.filter-container {
    width: 100%;
}

.filter-select {
    height: 15rem !important;
    width: 100%;
}

.amount-cell {
    text-align: right !important;
}